  <div class='twelve columns'>
    <h3>sobre</h3>
    <p>por alguns anos, dois amigos liam textos um do outro, como rotina básica de descobrimento. com o tempo, essa amizade e essa necessidade de criação foram aumentando e, com isso, a ideia de fazer algo novo, sem bordas, sem imposições.</p>
    <p>assim surgiu o conceito do pessoas. a princípio, esse é só mais um lugar para troca de textos, feito pra pessoas, por pessoas. não queremos parar por aí, deixando o projeto crescer organicamente, para que isso aqui seja cada vez mais nosso.<br/></p>

    <p>de nós e de vocês.</p>
    <p>sejam bem-vindos ao pessoas.<br/></p>

    <p>ps: dentro de um post ou de uma categoria, você pode navegar para o próximo texto ou anterior usando as setas do teclado.</p>

  </div>